services/flows.json
[{"id":"82e84c46.b48358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"644cc1d5.270c9","type":"mqtt in","z":"82e84c46.b48358","name":"","topic":"/sensor/#","qos":"0","datatype":"auto","broker":"472f40f.afe58c","nl":false,"rap":true,"rh":0,"x":120,"y":140,"wires":[["c76a084d.de8088"]]},{"id":"c76a084d.de8088","type":"function","z":"82e84c46.b48358","name":"split - fmt pre validation","func":"const msgSplitted = msg.topic.split(\"/\").filter((elem) => elem != \"\");\nmsg.payload = [msg.topic, msg.payload];\nmsg.splitted = msgSplitted;\nmsg.room = msg.splitted[1];\nmsg.topic = \"sensor\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["d6144d2.bffcab"]]},{"id":"d6144d2.bffcab","type":"switch","z":"82e84c46.b48358","name":"","property":"splitted.length","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":220,"wires":[["44657e3b.10339"]]},{"id":"44657e3b.10339","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HSET","name":"","topic":"sensor","params":"[\"msg.topic\",\"msg.payload\"]","paramsType":"json","payloadType":"json","block":false,"x":330,"y":220,"wires":[["24bffaf7.50a916","1bd78250.3c1a16","4877ae39.14cfe8"]]},{"id":"106ffcbb.c57843","type":"http in","z":"82e84c46.b48358","name":"","url":"/api/room/:id","method":"get","upload":false,"swaggerDoc":"","x":120,"y":740,"wires":[["35c40ecb.ecc69a"]]},{"id":"4e559155.7243c8","type":"http response","z":"82e84c46.b48358","name":"","statusCode":"","headers":{"Content-type":"application/json"},"x":1170,"y":900,"wires":[]},{"id":"35c40ecb.ecc69a","type":"function","z":"82e84c46.b48358","name":"","func":"msg.room = \"/sensor/\"+msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":740,"wires":[["3acfd43a.53c854","16af3e9e.1e6331","e0db3b5.260fd48"]]},{"id":"efa5c5a5.d9152","type":"json","z":"82e84c46.b48358","name":"","property":"payload","action":"obj","pretty":false,"x":1170,"y":820,"wires":[["4e559155.7243c8"]]},{"id":"a466796.781b088","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":750,"y":680,"wires":[["be9d4cfb.1ab7f8"]]},{"id":"30f4932f.24c8ac","type":"join","z":"82e84c46.b48358","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":740,"wires":[["efa5c5a5.d9152"]]},{"id":"3acfd43a.53c854","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/temperature\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":680,"wires":[["a466796.781b088"]]},{"id":"16af3e9e.1e6331","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":740,"wires":[["2e933b46.960f3c"]]},{"id":"e0db3b5.260fd48","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/people\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":800,"wires":[["6ce5bf97.310d1"]]},{"id":"be9d4cfb.1ab7f8","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":680,"wires":[["30f4932f.24c8ac"]]},{"id":"6deefa7e.b08d6c","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":740,"wires":[["30f4932f.24c8ac"]]},{"id":"a678f938.50f0b","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"people\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":800,"wires":[["30f4932f.24c8ac"]]},{"id":"8c8bddb8.aef0d","type":"comment","z":"82e84c46.b48358","name":"MQTT - Node Subscriber","info":"This is the layer of the nodered backend that is tasked with the job of receiving the messages from the edge devices, containing information about the data read from the sensor nodes.","x":170,"y":40,"wires":[]},{"id":"6ce5bf97.310d1","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":750,"y":800,"wires":[["a678f938.50f0b"]]},{"id":"2e933b46.960f3c","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":750,"y":740,"wires":[["6deefa7e.b08d6c"]]},{"id":"29cb0b06.eb5304","type":"comment","z":"82e84c46.b48358","name":"HTTP API - /api/room/:id","info":"Here we can see how we handle the HTTP endpoint that returns information about a particular room. The id is passed as an URL parameter, upon which we request the /sensor/:id/temperature, /sensor/:id/humidity and /sensor/:id/people keys from the sensor topic inside our redis instance. These are then joined together and returned as a json HTTP response.","x":150,"y":620,"wires":[]},{"id":"9fc95b2a.d8266","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":810,"y":160,"wires":[["4053b9c9.c1f3c"]]},{"id":"24bffaf7.50a916","type":"function","z":"82e84c46.b48358","name":"temperature","func":"msg.payload = [\"/sensor/\"+msg.room+\"/temperature\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":160,"wires":[["9fc95b2a.d8266"]]},{"id":"1bd78250.3c1a16","type":"function","z":"82e84c46.b48358","name":"humidity","func":"msg.payload = [\"/sensor/\"+msg.room+\"/humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":220,"wires":[["14065d7f.70fd83"]]},{"id":"4053b9c9.c1f3c","type":"function","z":"82e84c46.b48358","name":"topic: temperature","func":"msg.topic = \"temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":160,"wires":[["2433b60c.ca5c92"]]},{"id":"b361c912.00bfe","type":"function","z":"82e84c46.b48358","name":"topic: humidity","func":"msg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":220,"wires":[["2433b60c.ca5c92"]]},{"id":"672e643e.a943c4","type":"function","z":"82e84c46.b48358","name":"topic: summer","func":"msg.topic = \"summer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[["2433b60c.ca5c92"]]},{"id":"14065d7f.70fd83","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":810,"y":220,"wires":[["b361c912.00bfe"]]},{"id":"2433b60c.ca5c92","type":"join","z":"82e84c46.b48358","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":220,"wires":[["ac5cfe1f.20f288"]]},{"id":"2155df88.037348","type":"http request","z":"82e84c46.b48358","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"http://decision_layer/api/decision","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":420,"wires":[["39b4efc.add281"]]},{"id":"ac5cfe1f.20f288","type":"json","z":"82e84c46.b48358","name":"","property":"payload","action":"","pretty":true,"x":1250,"y":300,"wires":[["b53974a1.a96fe"]]},{"id":"b53974a1.a96fe","type":"change","z":"82e84c46.b48358","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":360,"wires":[["2155df88.037348"]]},{"id":"4877ae39.14cfe8","type":"function","z":"82e84c46.b48358","name":"get_date","func":"const june = 5;\nconst july = 6;\nconst august = 7;\nconst september = 8;\n\nconst june_start = 21;\nconst september_end = 23;\n\nconst date = new Date();\nconst month = date.getMonth();\nconst day = date.getDay();\n\nif((month == june && day >= june_start) ||\n    month == july || month == august ||\n    (month == september && day <= 23))\n    {\n        msg.payload = true;\n    } else {\n        msg.payload = false;\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["672e643e.a943c4"]]},{"id":"39b4efc.add281","type":"function","z":"82e84c46.b48358","name":"delete: people prop","func":"delete msg.payload.people_cap;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":500,"wires":[["e8f2a2b2.9bbd28"]]},{"id":"8772c77b.c2b8c","type":"mqtt out","z":"82e84c46.b48358","name":"","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"472f40f.afe58c","x":1090,"y":500,"wires":[]},{"id":"e8f2a2b2.9bbd28","type":"split","z":"82e84c46.b48358","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":750,"y":500,"wires":[["5e502cfa.7dce94"]]},{"id":"5e502cfa.7dce94","type":"function","z":"82e84c46.b48358","name":"actuator topic","func":"msg.topic = \"/actuator/\"+msg.room+\"/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":500,"wires":[["8772c77b.c2b8c"]]},{"id":"472f40f.afe58c","type":"mqtt-broker","name":"edge-recv","broker":"broker","port":"1883","clientid":"edge-recv","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d0644b18.86fb3","type":"redis-config","name":"datastore:6379","options":"{\"port\":\"6379\",\"host\":\"datastore\"}","cluster":false,"optionsType":"json"}]