services/flows.json
[{"id":"82e84c46.b48358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"472f40f.afe58c","type":"mqtt-broker","name":"edge-recv","broker":"broker","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d0644b18.86fb3","type":"redis-config","name":"datastore:6379","options":"{\"port\":\"6379\",\"host\":\"datastore\"}","cluster":false,"optionsType":"json"},{"id":"644cc1d5.270c9","type":"mqtt in","z":"82e84c46.b48358","name":"","topic":"/sensor/#","qos":"0","datatype":"auto","broker":"472f40f.afe58c","nl":false,"rap":true,"rh":0,"x":120,"y":140,"wires":[["c76a084d.de8088"]]},{"id":"c76a084d.de8088","type":"function","z":"82e84c46.b48358","name":"split - fmt pre validation","func":"const msgSplitted = msg.topic.split(\"/\").filter((elem) => elem != \"\");\nmsg.payload = [msg.topic, msg.payload];\nmsg.splitted = msgSplitted;\nmsg.room = msg.splitted[1];\nmsg.topic = \"sensor\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["d6144d2.bffcab"]]},{"id":"d6144d2.bffcab","type":"switch","z":"82e84c46.b48358","name":"topic length","property":"splitted.length","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":220,"wires":[["5c1e81d5.31855"]]},{"id":"44657e3b.10339","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HSET","name":"","topic":"sensor","params":"[\"msg.topic\",\"msg.payload\"]","paramsType":"json","payloadType":"json","block":false,"x":370,"y":220,"wires":[["24bffaf7.50a916","1bd78250.3c1a16","4877ae39.14cfe8"]]},{"id":"106ffcbb.c57843","type":"http in","z":"82e84c46.b48358","name":"","url":"/api/room/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":600,"wires":[["35c40ecb.ecc69a"]]},{"id":"4e559155.7243c8","type":"http response","z":"82e84c46.b48358","name":"","statusCode":"","headers":{"Content-type":"application/json"},"x":1190,"y":660,"wires":[]},{"id":"35c40ecb.ecc69a","type":"function","z":"82e84c46.b48358","name":"","func":"msg.room = \"/sensor/\"+msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["3acfd43a.53c854","16af3e9e.1e6331","e0db3b5.260fd48"]]},{"id":"efa5c5a5.d9152","type":"json","z":"82e84c46.b48358","name":"","property":"payload","action":"obj","pretty":false,"x":1310,"y":600,"wires":[["4e559155.7243c8"]]},{"id":"a466796.781b088","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":770,"y":540,"wires":[["be9d4cfb.1ab7f8"]]},{"id":"30f4932f.24c8ac","type":"join","z":"82e84c46.b48358","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":600,"wires":[["efa5c5a5.d9152"]]},{"id":"3acfd43a.53c854","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/temperature\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":540,"wires":[["a466796.781b088"]]},{"id":"16af3e9e.1e6331","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":600,"wires":[["2e933b46.960f3c"]]},{"id":"e0db3b5.260fd48","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/people\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[["6ce5bf97.310d1"]]},{"id":"be9d4cfb.1ab7f8","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":540,"wires":[["30f4932f.24c8ac"]]},{"id":"6deefa7e.b08d6c","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":600,"wires":[["30f4932f.24c8ac"]]},{"id":"a678f938.50f0b","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"people\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":660,"wires":[["30f4932f.24c8ac"]]},{"id":"8c8bddb8.aef0d","type":"comment","z":"82e84c46.b48358","name":"MQTT - Node Subscriber","info":"This is the layer of the nodered backend that is tasked with the job of receiving the messages from the edge devices, containing information about the data read from the sensor nodes.","x":170,"y":40,"wires":[]},{"id":"6ce5bf97.310d1","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":770,"y":660,"wires":[["a678f938.50f0b"]]},{"id":"2e933b46.960f3c","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":770,"y":600,"wires":[["6deefa7e.b08d6c"]]},{"id":"29cb0b06.eb5304","type":"comment","z":"82e84c46.b48358","name":"HTTP API - /api/room/:id","info":"Here we can see how we handle the HTTP endpoint that returns information about a particular room. The id is passed as an URL parameter, upon which we request the /sensor/:id/temperature, /sensor/:id/humidity and /sensor/:id/people keys from the sensor topic inside our redis instance. These are then joined together and returned as a json HTTP response.","x":170,"y":480,"wires":[]},{"id":"9fc95b2a.d8266","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":810,"y":160,"wires":[["4053b9c9.c1f3c"]]},{"id":"24bffaf7.50a916","type":"function","z":"82e84c46.b48358","name":"temperature","func":"msg.payload = [\"/sensor/\"+msg.room+\"/temperature\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":160,"wires":[["9fc95b2a.d8266"]]},{"id":"1bd78250.3c1a16","type":"function","z":"82e84c46.b48358","name":"humidity","func":"msg.payload = [\"/sensor/\"+msg.room+\"/humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":220,"wires":[["14065d7f.70fd83"]]},{"id":"4053b9c9.c1f3c","type":"function","z":"82e84c46.b48358","name":"topic: temperature","func":"msg.topic = \"temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":160,"wires":[["2433b60c.ca5c92"]]},{"id":"b361c912.00bfe","type":"function","z":"82e84c46.b48358","name":"topic: humidity","func":"msg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":220,"wires":[["2433b60c.ca5c92"]]},{"id":"672e643e.a943c4","type":"function","z":"82e84c46.b48358","name":"topic: summer","func":"msg.topic = \"summer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[["2433b60c.ca5c92"]]},{"id":"14065d7f.70fd83","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":810,"y":220,"wires":[["b361c912.00bfe"]]},{"id":"2433b60c.ca5c92","type":"join","z":"82e84c46.b48358","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":220,"wires":[["da61621c.2a147"]]},{"id":"2155df88.037348","type":"http request","z":"82e84c46.b48358","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"http://decision_layer/api/decision","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":380,"wires":[["39b4efc.add281"]]},{"id":"ac5cfe1f.20f288","type":"json","z":"82e84c46.b48358","name":"","property":"payload","action":"","pretty":true,"x":110,"y":380,"wires":[["b53974a1.a96fe"]]},{"id":"b53974a1.a96fe","type":"change","z":"82e84c46.b48358","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":380,"wires":[["2155df88.037348"]]},{"id":"4877ae39.14cfe8","type":"function","z":"82e84c46.b48358","name":"get_date","func":"const june = 5;\nconst july = 6;\nconst august = 7;\nconst september = 8;\n\nconst june_start = 21;\nconst september_end = 23;\n\nconst date = new Date();\nconst month = date.getMonth();\nconst day = date.getDay();\n\nif((month == june && day >= june_start) ||\n    month == july || month == august ||\n    (month == september && day <= 23))\n    {\n        msg.payload = true;\n    } else {\n        msg.payload = false;\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["672e643e.a943c4"]]},{"id":"39b4efc.add281","type":"function","z":"82e84c46.b48358","name":"delete: people prop","func":"delete msg.payload.people_cap;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":380,"wires":[["e8f2a2b2.9bbd28"]]},{"id":"8772c77b.c2b8c","type":"mqtt out","z":"82e84c46.b48358","name":"","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"472f40f.afe58c","x":1250,"y":380,"wires":[]},{"id":"e8f2a2b2.9bbd28","type":"split","z":"82e84c46.b48358","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":910,"y":380,"wires":[["5e502cfa.7dce94"]]},{"id":"5e502cfa.7dce94","type":"function","z":"82e84c46.b48358","name":"actuator topic","func":"msg.topic = \"/actuator/\"+msg.room+\"/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":380,"wires":[["8772c77b.c2b8c"]]},{"id":"223571ee.b4ccae","type":"comment","z":"82e84c46.b48358","name":"HTTP API - /api/people/:roomid","info":"Here we can see how we handle the HTTP endpoint that returns information about a particular room. The id is passed as an URL parameter, upon which we request the /sensor/:id/temperature, /sensor/:id/humidity and /sensor/:id/people keys from the sensor topic inside our redis instance. These are then joined together and returned as a json HTTP response.","x":190,"y":760,"wires":[]},{"id":"b5585393.807718","type":"http in","z":"82e84c46.b48358","name":"","url":"/api/people-in/:roomid","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1040,"wires":[["90f7e93f.a57f6"]]},{"id":"59cc50.51cdfbb","type":"http in","z":"82e84c46.b48358","name":"","url":"/api/people-out/:roomid","method":"get","upload":false,"swaggerDoc":"","x":180,"y":920,"wires":[["9d647cf3.ce6dc"]]},{"id":"90f7e93f.a57f6","type":"function","z":"82e84c46.b48358","name":"setup topic and url","func":"msg.topic = \"/sensor/\"+msg.req.params.roomid+\"/people\";\nmsg.url = \"http://decision_layer/api/peoplecap/\"+msg.req.params.roomid;\nmsg.room = msg.req.params.roomid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1040,"wires":[["71ce74c0.000da4"]]},{"id":"4a2ef8a6.138f4","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"INCR","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":650,"y":1040,"wires":[["469dcf46.9ad9c8"]]},{"id":"c8512fe3.7421","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"SET","name":"","topic":"","params":"[\"msg.payload\", \"1\"]","paramsType":"json","payloadType":"json","block":false,"x":820,"y":840,"wires":[["1f750d23.ff5d1b"]]},{"id":"a9964ce6.f02998","type":"catch","z":"82e84c46.b48358","name":"","scope":["4a2ef8a6.138f4"],"uncaught":false,"x":410,"y":840,"wires":[["d3fd4ea.3e05a3"]]},{"id":"d3fd4ea.3e05a3","type":"function","z":"82e84c46.b48358","name":"create ctr field on error","func":"msg.payload = [\"1\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":840,"wires":[["c8512fe3.7421"]]},{"id":"d30219b4.8c1478","type":"http response","z":"82e84c46.b48358","name":"","statusCode":"","headers":{"Content-type":"application/json"},"x":1330,"y":840,"wires":[]},{"id":"b7004d8a.30d7f","type":"json","z":"82e84c46.b48358","name":"","property":"payload","action":"obj","pretty":false,"x":1210,"y":840,"wires":[["d30219b4.8c1478"]]},{"id":"1f750d23.ff5d1b","type":"function","z":"82e84c46.b48358","name":"people payload","func":"msg.payload = {\"people\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":840,"wires":[["b7004d8a.30d7f"]]},{"id":"9d647cf3.ce6dc","type":"function","z":"82e84c46.b48358","name":"get topic","func":"msg.topic = \"/sensor/\"+msg.req.params.roomid+\"/people\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":920,"wires":[["cc41d198.dc34a8"]]},{"id":"cc41d198.dc34a8","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"DECR","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":650,"y":920,"wires":[["5e17c099.32673"]]},{"id":"5e17c099.32673","type":"switch","z":"82e84c46.b48358","name":"0 check","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":920,"wires":[["1f750d23.ff5d1b"],["4a2ef8a6.138f4"]]},{"id":"da61621c.2a147","type":"function","z":"82e84c46.b48358","name":"nulls to zero","func":"Object.keys(msg.payload).forEach(\n    key => { \n        if(msg.payload[key] == null)\n            msg.payload[key] = 0;\n    }\n);\nmsg.payload.room = msg.room;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":280,"wires":[["ac5cfe1f.20f288"]]},{"id":"7524524b.426e54","type":"http request","z":"82e84c46.b48358","name":"notification","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":1180,"wires":[["4d7c2655.1eac1"]]},{"id":"469dcf46.9ad9c8","type":"switch","z":"82e84c46.b48358","name":"overcap check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"room_cap","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":1040,"wires":[["1f750d23.ff5d1b"],["cc41d198.dc34a8","9ef3334f.c4d47"]]},{"id":"5c1e81d5.31855","type":"switch","z":"82e84c46.b48358","name":"roomid check","property":"room","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":280,"wires":[["44657e3b.10339"]]},{"id":"71ce74c0.000da4","type":"http request","z":"82e84c46.b48358","name":"get room capacity","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1140,"wires":[["5d2913a6.560fc4"]]},{"id":"5d2913a6.560fc4","type":"function","z":"82e84c46.b48358","name":"setup topic and url","func":"msg.room_cap = parseInt(msg.payload);\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1140,"wires":[["4a2ef8a6.138f4"]]},{"id":"9ef3334f.c4d47","type":"function","z":"82e84c46.b48358","name":"set room","func":"msg.payload = {\"room\": parseInt(msg.room)};\nmsg.url = \"http://telegram_layer/api/notify\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1060,"wires":[["c371eb65.a91c08"]]},{"id":"c371eb65.a91c08","type":"json","z":"82e84c46.b48358","name":"","property":"payload","action":"","pretty":true,"x":1270,"y":1060,"wires":[["417c4b20.5eb80c"]]},{"id":"417c4b20.5eb80c","type":"change","z":"82e84c46.b48358","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1120,"wires":[["7524524b.426e54"]]},{"id":"4d7c2655.1eac1","type":"debug","z":"82e84c46.b48358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":1300,"wires":[]}]