services/flows.json
[{"id":"82e84c46.b48358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"644cc1d5.270c9","type":"mqtt in","z":"82e84c46.b48358","name":"","topic":"/sensor/#","qos":"0","datatype":"auto","broker":"472f40f.afe58c","nl":false,"rap":true,"rh":0,"x":120,"y":140,"wires":[["c76a084d.de8088"]]},{"id":"c76a084d.de8088","type":"function","z":"82e84c46.b48358","name":"","func":"const msgSplitted = msg.topic.split(\"/\").filter((elem) => elem != \"\");\nmsg.payload = [msg.topic, msg.payload];\nmsg.splitted = msgSplitted;\nmsg.topic = \"sensor\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":180,"wires":[["d6144d2.bffcab"]]},{"id":"a9ac2d03.4c6a4","type":"debug","z":"82e84c46.b48358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":180,"wires":[]},{"id":"d6144d2.bffcab","type":"switch","z":"82e84c46.b48358","name":"","property":"splitted.length","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":180,"wires":[["44657e3b.10339"]]},{"id":"44657e3b.10339","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HSET","name":"","topic":"sensor","params":"[\"msg.topic\",\"msg.payload\"]","paramsType":"json","payloadType":"json","block":false,"x":770,"y":180,"wires":[["a9ac2d03.4c6a4"]]},{"id":"106ffcbb.c57843","type":"http in","z":"82e84c46.b48358","name":"","url":"/api/room/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["35c40ecb.ecc69a"]]},{"id":"4e559155.7243c8","type":"http response","z":"82e84c46.b48358","name":"","statusCode":"","headers":{"Content-type":"application/json"},"x":1190,"y":560,"wires":[]},{"id":"35c40ecb.ecc69a","type":"function","z":"82e84c46.b48358","name":"","func":"msg.room = \"/sensor/\"+msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":400,"wires":[["3acfd43a.53c854","16af3e9e.1e6331","e0db3b5.260fd48"]]},{"id":"efa5c5a5.d9152","type":"json","z":"82e84c46.b48358","name":"","property":"payload","action":"obj","pretty":false,"x":1190,"y":480,"wires":[["4e559155.7243c8"]]},{"id":"a466796.781b088","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":770,"y":340,"wires":[["be9d4cfb.1ab7f8"]]},{"id":"30f4932f.24c8ac","type":"join","z":"82e84c46.b48358","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":400,"wires":[["efa5c5a5.d9152"]]},{"id":"3acfd43a.53c854","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/temperature\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":340,"wires":[["a466796.781b088"]]},{"id":"16af3e9e.1e6331","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":400,"wires":[["2e933b46.960f3c"]]},{"id":"e0db3b5.260fd48","type":"function","z":"82e84c46.b48358","name":"","func":"msg.payload = [msg.room+\"/people\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":460,"wires":[["6ce5bf97.310d1"]]},{"id":"be9d4cfb.1ab7f8","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"temperature\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":340,"wires":[["30f4932f.24c8ac"]]},{"id":"6deefa7e.b08d6c","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":400,"wires":[["30f4932f.24c8ac"]]},{"id":"a678f938.50f0b","type":"function","z":"82e84c46.b48358","name":"","func":"msg.topic = \"people\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":460,"wires":[["30f4932f.24c8ac"]]},{"id":"8c8bddb8.aef0d","type":"comment","z":"82e84c46.b48358","name":"MQTT - Node Subscriber","info":"This is the layer of the nodered backend that is tasked with the job of receiving the messages from the edge devices, containing information about the data read from the sensor nodes.","x":170,"y":40,"wires":[]},{"id":"6ce5bf97.310d1","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":770,"y":460,"wires":[["a678f938.50f0b"]]},{"id":"2e933b46.960f3c","type":"redis-command","z":"82e84c46.b48358","server":"d0644b18.86fb3","command":"HGET","name":"","topic":"sensor","params":"[\"msg.room\"]","paramsType":"json","payloadType":"json","block":false,"x":770,"y":400,"wires":[["6deefa7e.b08d6c"]]},{"id":"29cb0b06.eb5304","type":"comment","z":"82e84c46.b48358","name":"HTTP API - /api/room/:id","info":"Here we can see how we handle the HTTP endpoint that returns information about a particular room. The id is passed as an URL parameter, upon which we request the /sensor/:id/temperature, /sensor/:id/humidity and /sensor/:id/people keys from the sensor topic inside our redis instance. These are then joined together and returned as a json HTTP response.","x":170,"y":280,"wires":[]},{"id":"472f40f.afe58c","type":"mqtt-broker","name":"edge-recv","broker":"broker","port":"1883","clientid":"edge-recv","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d0644b18.86fb3","type":"redis-config","name":"datastore:6379","options":"{\"port\":\"6379\",\"host\":\"datastore\"}","cluster":false,"optionsType":"json"}]